.body-book {
  background-position: center;
  background-attachment: fixed;

  &.artes {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-artes.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f4fafe;
  }

  &.atividades {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-atividades.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #faf6ef;
  }

  &.ciencias {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-ciencias.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f9f0;
  }

  &.geografia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-geografia.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #edf6fb;
  }

  &.historia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-historia.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7eff6;
  }

  &.lingua_inglesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-ingles.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fef2ef;
  }

  &.lingua_portuguesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-portugues.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fdedee
  }

  &.matematica {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-matematica.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fffced;
  }

  &.sintese {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/Fundo-sintese.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6edec;
  }

  &.edit-mode {
    [doc-container] {
      padding-bottom: 24px !important;
      border-bottom: 3px solid #cecece !important;
    }
    [doc-container]:empty{
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }
    [doc-editable] .empty-editable{
      background-color: orange;
      min-width: 5px;
      min-height: 3px;
    }
  }

}