/*  */

.container_collapsible {
  margin: 1.5rem 0;

  &.matematica {
    .collapsible-title::before {
      padding: 0 !important;
      font-weight: 400;
      font-size: 1.5rem !important;
      color: white;
      content: 'Matemática em questão';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      // --b: 3px;
      // height: 24px;
      // width: 24px;
      // /* the size */
      // aspect-ratio: 1/1;
      // border: 8px solid $mat_em_questao_50;
      // /* the outer space */
      // background:
      //   conic-gradient(from 90deg at var(--b) var(--b), $mat_em_questao_50 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      // --b: 3px;
      // /* the thickness */
      // height: 24px;
      // width: 24px;
      // /* the size */
      // aspect-ratio: 1/1;
      // border: 8px solid $mat_em_questao_50;
      // /* the outer space */
      // background:
      //   conic-gradient(from 90deg at var(--b) var(--b), $mat_em_questao_50 180deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));


      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $mat_em_questao_100 98%, transparent 98%);
    }

    .flex-icon {
      background-color: $mat_em_questao_50;
    }

    .collapsible-content-05 .content-inner {
      background-color: $mat_em_questao_20;
    }
  }

  &.saiba_mais {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Saiba mais';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $saiba_mais_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $saiba_mais_20;
    }
  }

  &.curiosidade {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Curiosidade';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $curiosidade_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $curiosidade_20;
    }
  }

  &.where_else {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Where Else?';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $where_else_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $where_else_20;
    }
  }

  &.all_ears {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'All ears';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $all_ears_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $all_ears_20;
    }
  }

  &.conheca {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Conheça...';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $conheca_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $conheca_20;
    }
  }

  &.curiosidade {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Curiosidade';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $curiosidade_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $curiosidade_20;
    }
  }

  &.veja_tambem {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Veja também em...';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $veja_tambem_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $veja_tambem_20;
    }
  }


  &.questao_invertida {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Questão Invertida';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $questao_invertida_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $questao_invertida_20;
    }
  }

  &.conheca_o_artista {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Conheça o artista';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $questao_invertida_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $questao_invertida_20;
    }
  }

  &.aplicando_o_assunto {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Aplicando o assunto';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $aplicando_o_assunto_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $aplicando_o_assunto_20;
    }
  }

  &.i_mean {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'I mean';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $aplicando_o_assunto_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $aplicando_o_assunto_20;
    }
  }


  &.de_onde_vem_a_palavra {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'De onde vem a palavra';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $de_onde_vem_a_palavra_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $de_onde_vem_a_palavra_20;
    }
  }

  &.whats_new {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: "What's new";
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $de_onde_vem_a_palavra_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $de_onde_vem_a_palavra_20;
    }
  }

  &.olho_na_arte {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Olho na arte';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $olho_na_arte_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $olho_na_arte_20;
    }
  }

  &.english_in_classroom {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'English in classroom';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $olho_na_arte_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $olho_na_arte_20;
    }
  }

  &.arte_e_ciencias {
    .collapsible-title::before {
      padding: 0 !important;
      font-size: 1.5rem !important;
      font-weight: 400;
      color: white;
      content: 'Arte e Ciências';
      white-space: nowrap;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
    }

    /*  */
    .plus {
      display: inline-block;

      background: url("https://livro-digital.p4ed.com/assets/icons/callis-mais.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .less {
      background: url("https://livro-digital.p4ed.com/assets/icons/callis-menos.svg");
      height: 14px;
      width: 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .lbl-toggle-callis {
      background: linear-gradient(45deg, $arte_e_ciencias_100 98%, transparent 98%);
    }

    .collapsible-content-05 .content-inner {
      background-color: $arte_e_ciencias_20;
    }
  }

}


input[type='checkbox'] {
  display: none;
}



.lbl-toggle-callis {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  gap: 8px;

  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-out;


}

.collapsible-content-05 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-callis:checked+.lbl-toggle-callis+.collapsible-content-05 {
  max-height: fit-content;
}

.toggle-callis:checked+.lbl-toggle-callis .plus {
  display: none;
}

.toggle-callis:checked+.lbl-toggle-callis .less {
  display: block;
}

.less {
  display: none;
}

.toggle-callis:checked+.lbl-toggle-callis {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-05 .content-inner {
  padding: 1rem 1rem;
}

label img {
  width: 2rem;
}

.container_collapsible h3 {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

.container_collapsible h4 {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  font-size: 1.125rem;
  text-align: left;
}

.container_collapsible p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

.container_collapsible p:not(:first-child) {
  padding-top: 1rem;

}

.container_collapsible .double-columned-content {
  align-items: start;
}

.container_collapsible .text-credit {
  padding: 0 !important;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: left;
}

.container_collapsible .img-description {
  padding-top: 0.5rem !important;
  font-size: 0.75rem;
}

.container_collapsible ul {
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
  padding-top: .5rem;
}

.collapsible-title {
  position: relative;
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}