.css_03_exercicio_item_romano {
  width: 100%;
  margin-top: 24px;

  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px;

  font-family: $fontPrincipal;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: 20px;
  align-items: baseline;

  counter-reset: list;

  .content_number {
    width: 34px;

    .background_number {
      width: 34px;
      height: 24px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: #A90F09;


      .number_item_romano {
        color: #ffffff;
        font-weight: 700;
      }
    }
  }

  .group_item_romano {
    .content_item_romano {
      padding-inline-start: 30px;
    }
  }
}