.css_03_alternativa {
  margin-top: 16px;

  font-family: $fontRedHatDisplay;
  font-weight: 300;
  color: $textColor;
  line-height: 1.5em;
  font-size: 20px;
  align-items: baseline;

 
  list-style: none;
  position: relative;

  &::before {
    font-family: $fontRedHatDisplay;
    font-size: 20px;
    font-weight: 600;
    counter-increment: list;
    content: counter(list, lower-alpha) ")";
    position: absolute;
    left: -30px;
  }
}