.css_01_titulo1 {

  /* Características do texto */
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 300;
  color: #F8F8F8;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-top: 40px;

  .estilo_title {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .icone_tituo1cap {
    background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_art.svg");
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: left;
    position: absolute;
    z-index: 2;
    align-items: left;
    margin: 0;
    background-position: center;
    left: 10px;
    top: 10px;

  }

  /* Variações de cores */
  &.artes {
    background-color: $art_cor100;
    .icone_tituo1cap {
    background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_art.svg");

    }

  }




  &.ciencias {
    background-color: $cie_cor100;

    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_cie.svg");

    }
  }

  &.geografia {
    background-color: $geo_cor100;

    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_geo.svg");

    }
  }



    &.historia {
      background-color: $his_cor100;

      .icone_tituo1cap {
        background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_his.svg");
       
      }
    }


    &.lingua_inglesa {
      background-color: $ing_cor100;

      .icone_tituo1cap {
        background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_ing.svg");
  
      }

    }

    &.lingua_portuguesa {
      background-color: $por_cor100;

      .icone_tituo1cap {
        background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_lpo.svg");
      
      }
    }

    &.matematica {
      background-color: $mat_cor100;

      .icone_tituo1cap {
        background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_mat.svg");
       
      }
    }

  }

  .alinhamento {
    display: flex;
    align-items: center;
  }

  .margemint {
    padding: 57px;
  }