.css_01_titulo1 {

  /* Características do texto */
  font-family:$fontPrincipal;
  font-size: 2.5rem;
  font-weight: 300;
  color: #F8F8F8;
  display: grid;
  grid-template-columns: 40px 1fr;
  position: relative;
  align-items: flex-start;
  gap: 11px;
  margin-top: 40px;
  padding: 0px 10px 0px 10px;;

  .estilo_title {
    line-height: 1.5;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0px;
 
  }

  .icone_titulo1 {
  
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;

  }

  /* Variações de cores */
  &.artes {
    background-color: $art_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_art.svg");

    }

  }




  &.ciencias {
    background-color: $cie_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_cie.svg");

    }
  }

  &.geografia {
    background-color: $geo_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_geo.svg");

    }
  }



  &.historia {
    background-color: $his_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_his.svg");

    }
  }

  &.matematica {
    background-color: $mat_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_mat.svg");

    }
  }


  &.lingua_inglesa {
    background-color: $ing_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_ing.svg");

    }

  }

  &.lingua_portuguesa {
    background-color: $por_cor100;

    .icone_titulo1 {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_abertura_head_lpo.svg");

    }
  }

}