.css_01_titulo_cap_num {
  /* Características do texto */
  font-family: $fontPrincipal;
  color: #F8F8F8;
  font-weight: 400;
  font-size: 2.625rem;
  display: grid;
  grid-template-columns: 40px 1fr;
  position: relative;
  align-items: flex-start;
  gap: 11px;
  margin-top: 40px;
  padding: 0px 10px 5px 10px;;

  .estilo_title {
    margin: 0px;
    font-weight: 400;
    font-size: 2.625rem;
    padding-top: 5px;

  }

  .icone_tituo1cap_num{
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    background-position: center;

  }

  /* Variações de cores */
  &.artes {
    background-color: $art_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_art.svg");
    
    }
  }


  &.ciencias {
    background-color: $cie_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_cie.svg");
     
    }

  }

  &.geografia {
    background-color: $geo_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_geo.svg");
     
    }
  }



  &.historia {
    background-color: $his_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_his.svg");
     
    }
  }


  &.lingua_inglesa {
    background-color: $ing_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_ing.svg");
     
    }

  }

  &.lingua_portuguesa {
    background-color: $por_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_lpo.svg");
    
    }
  }



  &.matematica {
    background-color: $mat_cor100;

    .icone_tituo1cap_num {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/dig_titulo_capitulo_head_mat.svg");
     
    }
  }
}
