.css_07_secao_titulo2 {
  text-align: left;
  font-size: 24px;
  font-family: $fontPrincipal;
  margin-top: 24px;

  &.artes {
    color: #B9A9CB ;
  }
  &.biologia {
    color: #ABD0A7 ;
  }
  &.filosofia {
    color: #B1BDD7 ;
  }
  &.fisica {
    color: #8CCDD2 ;
  }
  &.geografia {
    color: #EDB290 ;
  }
  &.historia {
    color: #CF98C6 ;
  }
  &.lingua_inglesa {
    color: #8CCDD2 ;
  }
  &.lingua_portuguesa {
    color: #E59798 ;
  }
  &.matematica {
    color: #97B7D9 ;
  }
  &.producao_de_texto {
    color: #92C7D7 ;
  }
  &.quimica {
    color: #B80071 ;
  }
  &.sociologia {
    color: #E695B1 ;
  }
}