.css_01_titulo2 {

  /* Características do componente */
  position: absolute;
  display: block;
  font-family: $fonteSerifa;
  font-weight: 600;
  font-size: 2rem;
  margin: 40px 0px 15px 0px;
  padding: 0px 0px 0px 0px;

  /* Variações de cores */
  &.artes {

      color: $art_cor100;
      
    }
  

  &.ciencias {

      color:$cie_cor100;

  }



  &.geografia {
    
      color: $geo_cor100;
    
  }

 
  &.historia {
    
      color: $his_cor100;
    
  }

 

  &.lingua_inglesa {
    
      color: $ing_cor100;
    
  }

  &.lingua_portuguesa {
   
      color: $por_cor100;
    
  }

 

  &.matematica {
    
      color: $mat_cor100;

    }
 
}

 
