.css_01_titulo_cap {


  /* Características do texto */
  font-family: $fontPrincipal;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  display: grid;
  align-items: flex-start;
  position: relative;
  text-align: center;
  margin-top: 40px;
  gap: 8px;
  grid-template-columns: 44px 1fr;

  .estilo_title{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 10 0 0 0;
    text-align: left;
  }
  .icone_tituo1cap{
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
    margin-top: 10px;
  }

  /* Variações de cores */
  &.artes {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_ART.svg");

    }
  }


  &.ciencias {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_CIE.svg");

    }

  }

  &.geografia {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_GEO.svg");

    }
  }



  &.historia {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_HIS.svg");

    }
  }


  &.lingua_inglesa {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_ING.svg");

    }

  }

  &.lingua_portuguesa {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_LPO.svg");

    }
  }



  &.matematica {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_MAT.svg");

    }
  }

}


