.css_03_exercicio_alternativa_assinalar_itens {
  margin-top: 16px;

  font-family: $fontPrincipal;
  font-weight: 300;
  color: $textColor;
  line-height: 1.5em;
  font-size: 20px;
  align-items: baseline;


  list-style: none;
  position: relative;

  &::after {
    font-family: $fontPrincipal;
    font-size: 20px;
    font-weight: 600;
    content: "(";
    position: absolute;
    left: -36px;
    top: 0;
  }

  &::before {
    font-family: $fontPrincipal;
    font-size: 20px;
    font-weight: 600;
    content: ")";
    position: absolute;
    left: -20px;
  }
}