.css_10_finais_titulo1 {
  display: block;
  text-align: left;
  font-size: 20px;
  font-family: $fontPrincipal;
  margin-top: 24px;
  &.artes {
    color: #3F1F71;
  }
  &.biologia {
    color: #306E2B;
  }
  &.filosofia {
    color: #3A4C74;
  }
  &.fisica {
    color: #00666D;
  }
  &.geografia {
    color: #9E2705;
  }
  &.historia {
    color: #6A0F5A;
  }
  &.lingua_inglesa {
    color: #015F5B;
  }
  &.lingua_portuguesa {
    color: #981711;
  }
  &.matematica {
    color: #033878;
  }
  &.producao_de_texto {
    color: #005E7C;
  }
  &.quimica {
    color: #850343;
  }
  &.sociologia {
    color: #8B1038;
  }
}