.css_03_exercicio_citado_titulo {
  font-family: $fontPrincipal;
  font-weight: 700;
  color: $textColor !important;
  line-height: 1.5em;
  font-size: 20px;
  display: block;
  margin-top: 24px;
  display: block;
}