.css_01_titulo_cap {


  /* Características do texto */
  font-family: $fontPrincipal;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
  padding: 0px 0px 16px 0px;

  .estilo_title {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .icone_tituo1cap {
    width: 35.7px;
    height: 35.7px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: left;
    position: absolute;
    z-index: 2;
    align-items: left;
    margin: 0;
    background-position: center;
  }

  /* Variações de cores */
  &.artes {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_ART.svg");

    }
  }


  &.ciencias {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_CIE.svg");

    }

  }

  &.geografia {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_GEO.svg");

    }
  }



  &.historia {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_HIS.svg");

    }
  }


  &.lingua_inglesa {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_ING.svg");

    }

  }

  &.lingua_portuguesa {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_LPO.svg");

    }
  }



  &.matematica {
    .icone_tituo1cap {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/01_TITULO_CAP_MAT.svg");

    }
  }

}

.alinhamento {
  display: flex;
  align-items: center;
}

.margemint_titulo_cap {
  padding: 40.7px;
}