<div class="container_collapsible_voce_e">
  <input id class="toggle-callis" type="checkbox">
  <label for class="lbl-toggle-callis">
    <div class='flex-icon'>
      <div class="plus"></div>
      <div class="less"></div>
    </div>
    <div class="inner-section">
      <p class="collapsible-title" doc-editable="caption">
        Você é...
      </p>
    </div>
  </label>
  <div class="collapsible-content-05">
    <div class="content-inner">
      <div class="txt_boxe_collapsed" doc-container="main"></div>
    </div>
  </div>
</div>