<div class="css_03_exercicio_alternativa_assinalar">
  <div class="content_number">
    <div class="background_number">
      <p class="number_alternativa_assinalar" doc-editable="number_alternativa_assinalar">{{EXERCICE_NUMBER}}</p>
    </div>
  </div>
  <div class="group_alternativa_assinalar">
    <p class="title_alternativa_assinalar" doc-editable="title_alternativa_assinalar">{{EXERCICE_TITLE_ALTERNATIVA_ASSINALAR}}</p>
    <ol class="content_alternativa_assinalar" doc-container="main" type="a"></ol>
  </div>
</div>