<div class="css_05_mapa_titulo">
  <div class="section_mapa_titulo">
    <img class="mapa_icon" src="https://livro-digital.p4ed.com/assets/icons/dig_mapa.svg" alt="Ícone mapa">
    <p class="mapa_titulo" doc-editable="text"></p>
  </div>
  <figure class="image mapa_image">
    <div doc-image="image" doc-link="hyperlink"></div>
    <div class="conteudo_texto">
    <p class="css_05_fonte_mapa" doc-editable="fonte">{{FONTE_MAPA}}</p>
    <p class="css_05_legenda" doc-editable="legenda">{{SUBTITLE_MAPA}}</p>
  </div>
  </figure>
</div>